/* Below Section Styles */
.lower-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    background-color: gray; 
    height: 7rem;
  }
  
  .logo h1 {
    font-size: 90px;
    color: rgb(170, 241, 6);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
  }